<!-- Modal de alerta de mensagem-->
<div id="modal-msg" class="modal fade modal-msg" role="dialog" aria-modal="true" aria-labelledby="modal-msg-title" aria-describedby="modal-msg-body">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
        <span class="modal-header-content">
          <i class="material-icons"></i>
          <h4 class="modal-title" id="modal-msg-title"></h4>
        </span>
      </div>
      <div class="modal-body" id="modal-msg-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-ok" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-primary" id="btn-sim" data-dismiss="modal">SIM</button>
        <button type="button" class="btn btn-default" id="btn-nao" data-dismiss="modal">NAO</button>
      </div>
    </div>
  </div>
</div>
